[user]
        name = Virgile Landeiro
        email = vlandeir@hawk.iit.edu
[color]
        ui = auto
[core]
        autocrlf = true
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
[push]
        default = matching
