# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Virgile Landeiro
	email = virgile.landeiro@gmail.com

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	tree = log --graph --oneline
	squash = rebase -i
[github]
	user = vlandeiro
